html,
body {
    background-color: #d9ecfb;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    overflow: visible; 
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: 2px solid;
    border-color: rgba(0, 22, 22, 0.63);
}

header {
    color: rgb(1, 71, 71);
    margin: 15px 10px 10px 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: rgb(0, 102, 102);
    border-top: 2px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: rgb(0, 102, 102);
    text-decoration: underline;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    text-align: justify;
}

section article {
    color: rgb(37, 37, 37);
    margin: 15px;
    font-size: 16px;
    text-align: justify;
}

section li {
    margin: 10px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    position: relative;
    line-height: 2;
    background-color: rgba(0, 255, 255, 0.137);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.links {
    color:rgb(0, 102, 102)
}

@media (max-width: 850px) {
    #navbar {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 100%;
        border-right: 1.5px solid;
        border-color: rgba(0, 22, 22, 0.63);
    }

    #navbar header {
        font-size: 25px;
    }

    #main-doc {
    position: absolute;
    padding: 15px;
    margin: 0 10px 100px 200px;
    text-align: justify;
    }

    header {
        font-size: 28px;
    }

    section article {
        font-size: 14px;
        text-align: justify;
    }
}